body,nav, header {
    background-color: black;
    color: wheat;
}

footer {
    position: fixed; 
    bottom:0;
    width: 100%;
    text-align:center;  
    border-top:1px solid white;
    overflow:hidden;
    background-color:black;
}

nav:hover {
    color: wheat;
}

.welcome-div {
    position: relative;
    text-align: center;
    margin-top: 20%;
}


